#cat-img-1 {
  transform: rotate(20deg);
}

#cat-img-2 {
  transform: scale(2);
}
#cat-img-3 {
  transform: translate(200px, 200px);
}

#cat-img-4 {
  transform: skew(20deg, 10deg);
}

#cat-img-5 {
  transform: rotate(20deg) translate(100px, 50px);
}
